<div class="flex-row">
  <div class="flex-1">
    @if (this.user()) {
      <app-user-card [user]="this.user()"></app-user-card>
    } @else if (this.error()) {
      <mat-card class="error-card">
        <mat-card-content>
          <h2>
            {{ this.error().help }}
          </h2>
          <p>
            {{ this.error().message }}
          </p>
          <p>
            {{ this.error().httpResponse }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color=primary mat-raised-button routerLink="/users">Back to Users List</button>
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-card>
        <mat-card-content>
          <p>Loading User Profile data...</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
